
<h1>Petnames database: A Curated Collection</h1>
<p>We're fascinated by what people name the animals in their lives!</p>

<p>We have collected pet names from literature, film, indviduals, and institutions such as zoos and wildlife preserves. Each animal's record can include: name, common name or breed, dates of life, and a few notes about that particular animal.</p>

<p>If a name already appears in our list, a new individual who shares
	the same name can also be added. Yep, we can keep track of how many
	animals have been named "Underfoot"! Want to know how many different types of animals have been given the name "Spot"? We keep track of that too.</p>

